
.adsinfo{
    display: flex;
}

.userinfo{
    border: 1px solid #ccc;
    text-align: left;
     margin-bottom: 25px;   
}
.sectiontitle{
    padding: 1% 2%;
    color: #fff;
    background-color: #1890ff;
}
.section1{
    display: flex;
    margin-left: 25px; 
    justify-content: space-between; 
    width: 100%;  
}
.topsection{
    display: flex;
    width: 100%;  
}
.section1 p:first-child{
    font-weight: bold;
    text-transform: uppercase;
    
}
.avatar{
    width: 10%;
   padding:5px 15px 15px  15px;
}
.label{
    font-size: 16px;
    color: #3E6C96;
    line-height: 0px;
    text-align: left;

}
.leftchild,.middlechild,.rightchild{
    line-height: 0;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
}
.images{
    display: flex;
   
   
}
.img{
    width: 50%;
}
.images div{
   margin-right: 30px;
  
}
.deleteicon {
    display: block !important;
    color: #3E6C96 !important;
    font-size: 25px;
}
.buttons {
    text-align: left;
    margin-top: 40px;
}
.buttons button {
    margin-right: 20px;
    border-radius: 4px;    
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 35px 40px !important;
    display: inline-block !important;
}
.save {
    background-color: #3E6C96 !important;

}
.publish{
    background-color:#449765 !important;
}
.reject{
    background-color:#E06A49 !important;
}
.cancel{
    background-color:#F1A23C!important;
}